@charset "utf-8";
/* CSS Document */


html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#container {
min-height:100%; /*使内容高度和body一样*/
margin-bottom:-80px;
}
#content {
padding-bottom:150px; 
}
.navbar-brand img{
	max-width:45px;
	margin-top:-7px;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
}
#myCarousel{
	height: 1200px;
	width: 1300px;

}
.zuigao{
    z-index: 99999;
}
.center{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.center a{
	color: black;
    margin-top: 10px;
	opacity: 0.8;

}
.btn1{
		background-color:#ff4140;

}
.btn2{
	background-color: #FFFFFF;
}
.center.hidden-sm.hidden-xs a{
    width: 180px;
    height: 40px;
}
.center.hidden-lg.hidden-md a{
    width: 80px;
    height: 30px;
    padding: 0;
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.carousel-caption h5{
	font-size: 1.5em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#CE9394
}
.footer-box{
	text-align: center;
	height:100px; 
    background: #212529; 
	margin-bottom:0px;
}
.p{
	padding-top: 20px;
}