@charset "utf-8";
/* CSS Document */

.navbar-brand img{
	max-width:45px;
}
.mv{
	height: 670px;
	width:100%;
}
video{
	margin-left: 10%;
	background-color: black;
}
.footer-box{
	text-align: center;
	height:100px; 
    background: #212529; 
}
.jumbotron{
	margin-bottom: 0px;
}
.p{
padding-top: 25px;
	padding-bottom: 10px;}